.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f8fb;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  /* padding: 2rem; */
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

header {
  color: white;
  margin-left: 0;
  margin-left: 0;
  background-color: #213448;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  box-shadow: #213448 0px 0px 0px 10px;
}
.ringkasan {
  box-shadow: #000000 0px 0px 10px;
}
.pengalaman {
  box-shadow: #000000 0px 0px 10px;
}
.prestasi {
  box-shadow: #000000 0px 0px 10px;
}
.keahlian {
  box-shadow: #000000 0px 0px 10px;
}
section {
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section p {
  color: black;
}
h1 {
  margin: 0;
  color: #ffffff;
}

h2 {
  color: #000000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
  margin-top: 1.5rem;
}

ul {
  padding-left: 1.2rem;
}

ul li {
  margin-bottom: 0.5rem;
}
